{% extends "main/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container container-wrapper-85h">
    <div class="row align-items-center h-100" >
            <div class="content-section col-6 mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="text-center">Reset Password</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="row mb-3">
                        <div class="col-6 d-flex">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb1" />
                                <label class="custom-control-label" for="cb1">Remember me</label>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="forget-link">Forgot password?</a>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock content %} {% block team-members %}{% endblock team-members %}
