{% extends "main/base.html" %}
{% block content %}

<section class="about">
    <div class="container-wrapper text-center">
        <div class="about-title mb-3">
            <h1>Discover something new with what you already have</h1>
        </div>
    <p>
        Leftover Ingerdients pursues helping people figure out how to utilize whatever food is in their fridge.
        We're happy to provide our users with an array of recipes based on any ingredients that they may have leftover.
    </p>

    <p>
        Here at leftover ingredients we know everyone is different so regardless of time, experience, or money, we want you to be able to find a recipe that works for you.
        Our users can learn to cook a meal from a foreign country, or quickly throw together some comfort food for a midnight snack.
        We are always adding new features to help our users make delicious meals instead of it taking up space in your fridge or a landfill.
    </p>

    <div class="about-title mb-3 mt-5">
        <h1>Less trash and more smiles around the table</h1>
    </div>

    <p>
        Did you know that Americans throw away an estimated 80 billion pounds of food a year? That's about 30-40% of the US food supply!
        This is partly due to people buying too much food for them to even know what to do with.
        We here at Leftover Ingredients seek to help solve this problem by making sure nothing in your fridge is ever wasted.
        It's really a win-win situation your family and the earth!
    </p>
    </div>
</section>


{% endblock content %}
{% block team-members %}{% endblock team-members %}
