{% extends "main/base.html" %} {% block content %}

<main class="page">
  <section class="recipes-container">
    <div class="tags-container">
      <h4>Recommended Recipes</h4>
      <div class="tags-list">
        <a href="">Breakfast</a>
        <a href="">Lunch</a>
        <a href="">Dinner</a>
        <a href="">Dessert</a>
      </div>
    </div>

    <div class="recipes-list">
      <a href="" class="recipe">
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mushroom-and-brussels-sprouts-pizza-1614005258.jpg?crop=0.747xw:0.748xh;0.128xw,0.126xh&resize=980:*"
          class="img recipe-img"
          alt=""
        />
        <h5>Mushroom and Brussels Sprouts Pizza</h5>
        <p>Calories : ? | Time : ?</p>
      </a>
      <!-- end of single recipe -->
      <!-- single recipe -->
      <a href="single-recipe.html" class="recipe">
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mushroom-and-brussels-sprouts-pizza-1614005258.jpg?crop=0.747xw:0.748xh;0.128xw,0.126xh&resize=980:*"
          class="img recipe-img"
          alt=""
        />
        <h5>Mushroom and Brussels Sprouts Pizza</h5>
        <p>Calories : ? | Time : ?</p>
      </a>
      <!-- end of single recipe -->
      <!-- single recipe -->
      <a href="single-recipe.html" class="recipe">
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mushroom-and-brussels-sprouts-pizza-1614005258.jpg?crop=0.747xw:0.748xh;0.128xw,0.126xh&resize=980:*"
          class="img recipe-img"
          alt=""
        />
        <h5>Mushroom and Brussels Sprouts Pizza</h5>
        <p>Calories : ? | Time : ?</p>
      </a>
      <!-- end of single recipe -->
      <!-- single recipe -->
      <a href="single-recipe.html" class="recipe">
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mushroom-and-brussels-sprouts-pizza-1614005258.jpg?crop=0.747xw:0.748xh;0.128xw,0.126xh&resize=980:*"
          class="img recipe-img"
          alt=""
        />
        <h5>Mushroom and Brussels Sprouts Pizza</h5>
        <p>Calories : ? | Time : ?</p>
      </a>
      <!-- end of single recipe -->
    </div>

    <div class="container">
      <div class="card">
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mushroom-and-brussels-sprouts-pizza-1614005258.jpg?crop=0.747xw:0.748xh;0.128xw,0.126xh&resize=980:*"
          alt=""
          class="card-img"
        />
        <div class="card-body">
          <h3>Pizza</h3>
          <hr />

          <p>
            A ball of store-bought dough is the easiest way to experience
            freshly made pizza without calling delivery. This pie layers in
            fontina cheese and Shiitake mushrooms amid bright balsamic glaze and
            crunchy sprouts. It's a rustic 25-minute dinner you'll simply love.
          </p>
          <button
            class="btn btn-outline-info btn-lg"
            onclick="location.href = 'about/';"
          >
            View Recipe
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- end of main -->

<script src="./js/app.js"></script>

<!-- {% for recipe in recipes %}
        <article class="media content-section">
            <img class= "rounded-circle article-img" src="#" alt="">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ recipe.author }}</a>
                <small class="text-muted">{{ recipe.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ recipe.title }}</a></h2>
            <p class="article-content">{{ recipe.content }}</p>
            </div>
        </article>
    {% endfor %} -->
{% endblock content %} {% block team-members %}{% endblock team-members %}
