{% extends "main/base.html" %} {% block content %}
<div class="container">
  <h1>Recipe</h1>
  <br />
  <br />
  <!-- This is Dummies, need to setup DB and load recipes from DB -->
  {% for recipeDummy in recipeDummies %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="#" alt="" />
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ recipeDummy.author }}</a>
        <small class="text-muted"
          >{{ recipeDummy.date_posted|date:"F d, Y" }}</small
        >
      </div>
      <h2><a class="article-title" href="#">{{ recipeDummy.title }}</a></h2>
      <p class="article-content">{{ recipeDummy.content }}</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock content %} {% block team-members %}{% endblock team-members %}
