{% extends "main/base.html" %} {% block content %}
<div class="jumbotron">
  <div class="container">
    <center>
      <div class="p-search-bar">
        <div class="col-md-6 col-md-offset-3">
          <form
            id="p-search-bar"
            role="search"
            method="POST"
            action="{% url 'recipe-search' %}"
          >
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  type="search"
                  id="query"
                  name="searched"
                  placeholder="Search"
                  aria-label="Search through site content"
                />
                <span class="input-group-btn">
                  <button class="btn btn-success" type="submit">
                    <i class="bi bi-search"></i> Search
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </center>
  </div>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <center>
      {% if searched %}
      <h1>You Searched for {{ searched }}</h1>
      <br/>
        <table>
          {% for recipe in recipes %}
            <!-- <a href="{{ url }}">{{ title }}</a> -->
            <tr>
              <td><a href="{{ recipe.recipe_url }}">{{ recipe.title }}</a></td>
              <td><a href="{{ recipe.recipe_url }}">
                <img alt="Image of dish not found" src="{{ recipe.image }}"
                width=150" height="70"></td>
              </a>
            </tr>
          {% endfor %}
        </table>
      {% else %}
      <h1>Search Our Best Recipes!</h1>
      {% endif %}
    </center>

    <!-- need to update after DB model set up -->
    <!-- <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
    {% endblock content %} {% block team-members %}{% endblock team-members %}
  </div>
</div>
