{% extends "main/base.html" %} {% block content %}
<div class="recipe-page">
    <section class="recipe-hero">
     <!-- <img src="./images/bg1.jpg" class="img recipe-hero-img" /> -->
      <article class="recipe-info">
        <h2>{{ recipe.title }}</h2>
        <p>
          meal description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti libero non, pariatur alias hic quaerat doloremque ipsum rem, odio doloribus necessitatibus quae voluptas nostrum! Voluptatibus voluptas blanditiis ratione neque perspiciatis?
        </p>
        <div class="recipe-icons">
          <article>
            <h5>cousine</h5>
            <p>american</p>
          </article>
          <article>
            <h5>prep time</h5>
            <p>30 min.</p>
          </article>
          <article>
            <h5>cook time</h5>
            <p>15 min.</p>
          </article>
          <article>
            <h5>serving</h5>
            <p>6 servings</p>
          </article>
          <article>
            <h5>price per serving</h5>
            <p>$7</p>
          </article>
          <article>
            <h5>calories or price?</h5>
            <p>1000</p>
          </article>
        </div>
        <div class="recipe-nutrition">
          <article>
            <h6>Calories</h6>
            <p>american</p>
          </article>
          <article>
            <h6>Carbs</h6>
            <p>30 min.</p>
          </article>
          <article> 
            <h6>Fat</h6>
            <p>15 min.</p>
          </article>
          <article>  
            <h6>Protein</h6>
            <p>6 servings</p>
          </article>

        </div>
        <p class="recipe-tags">
          <ul id="horizontal-list">
            Keywords : 
            <li>Pancakes</li>
            <li>Bananas</li>
            <li>Milk</li>
          </ul>
          
        </p>
      </article>
    </section>
    <!-- content -->
    <section class="recipe-content">
      <article>
        <h4>Instructions</h4>
        <!-- single instruction -->
        {% for step in steps %}
        <div class="single-instruction">
          <header>
            <p>step {{ step.number }}</p>
            <div></div>
          </header>
          <p>
            {{ step.step }}
          </p>
        </div>
        {% endfor %}
        <!-- end of single instruction -->
      </article>
      <article class="second-column">
        <div>
          <h4>Ingredients</h4>
          <p class="single-ingredient">1 1/2 cups dry pancake mix</p>
          <p class="single-ingredient">1/2 cup flax seed meal</p>
          <p class="single-ingredient">1 cup skim milk</p>
        </div>
        <div>
          <h4>Equipment</h4>
          {% for e in equipment %}
          <p class="single-tool">{{ e }}</p>
          {% endfor %}
        </div>
      </article>
    </section>
</div>

{% endblock content %}  {% block team-members %}{% endblock team-members %}